* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-size: 14px;
  background-color: #eeeeee;
}

a {
  color: inherit;
  text-decoration: none;
}

.view-content {
  padding: 1.5rem;
}

// custom inputs border color
.MuiOutlinedInput-root:hover:not(.Mui-error) {
  .MuiOutlinedInput-notchedOutline {
    // TODO: use scss variable
    border-color: #15a4fa !important;
  }
}

.MuiOutlinedInput-root.Mui-focused:not(.Mui-error) {
  .MuiOutlinedInput-notchedOutline {
    border-color: #15a4fa !important;
  }
}

.MuiIconButton-root:not(.MuiCheckbox-root) {
  color: inherit !important;
}

.MuiMenuItem-root {
  min-height: 48px !important;
}
