@use 'theme';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family:
    Roboto, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 14px;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

a {
  color: inherit;
}

// https://github.com/angular/flex-layout/issues/171#issuecomment-353973748
router-outlet.router-flex + * {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  min-height: 100px;
}

.view-content {
  padding: 1.5rem;
}

.error-snackbar {
  &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-error);
    color: var(--mat-sys-on-error);
  }
}

.success-snackbar {
  &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background-color: rgb(22 163 74);
    color: var(--mat-sys-on-error);
  }
}

.mat-mdc-card-header {
  padding-bottom: 16px !important;
  color: var(--mat-sys-on-surface);
}

.mat-toolbar-row.mobile-height-auto {
  @media (max-width: 768px) {
    height: auto;
    padding-bottom: 1em;
  }
}

.hidden {
  display: none;
}
