@import '~@angular/material/theming';
@import 'variables';

@include mat-core();

$custom-theme-primary: mat-palette($custom-deep-blue, 900, 800, 900);
$custom-theme-accent: mat-palette($custom-orange);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  $custom-theme-primary,
  $custom-theme-accent,
  $custom-theme-warn
);

@include angular-material-theme($custom-theme);

// custom inputs border color
.mat-form-field-appearance-outline {
  .mat-form-field-outline-thick {
    color: $light-blue;
  }

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: $light-blue;
    }
  }
}
